.project-form-wrapper
    ::ng-deep .ui-dropdown
        padding: 0
    button
        margin-left: 5px
    .col.form-group.text-right
        margin-top: 15px
    .margin-top
        margin-top: 5px
    .remove-margin-left
        margin-left: 0px    

    


