<div class="project-form-wrapper">
  <form (submit)="onFormSubmit()">
    <div class="row">
      <div class="col form-group text-right">
        <button class="btn btn-primary">Cancel</button>
        <button type="button" (click)="onFormSubmit()" class="btn btn-primary">
          Save
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p-accordion [multiple]="true">
          <p-accordionTab header="PROJECT" [selected]="true">
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label for="number">Number</label>
                  <input
                  name="numberinput"
                    type="email"
                    class="form-control"
                    AllowOnlyNumbers
                    id="number"
                    [(ngModel)]="selectedProject.Number"
                    aria-describedby="emailHelp"
                    placeholder="Enter number"
                  />
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label>Description</label>
                  <input
                  name="descriptioninput"
                    type="text"
                    class="form-control"
                    id="name"
                    [(ngModel)]="selectedProject.Description"
                    placeholder="Click here to enter description"
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label>Type</label>
                  <app-dropdown
                    inputName="projectTypeDropDown"
                    [itemSource]="pts"
                    [(valueModel)]="selectedProject.TypeGuid"
                    displayMember="Code"
                    valueMember="Guid"
                  ></app-dropdown>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="status">Status</label>
                  <app-dropdown
                  inputName="projectStatusDropDown"
                    [itemSource]="psts"
                    [(valueModel)]="selectedProject.StatusGuid"
                    displayMember="Code"
                    valueMember="Guid"
                    styleClass="form-control"
                  ></app-dropdown>
                </div>
              </div>
            </div>
          </p-accordionTab>
          <p-accordionTab header="CUSTOMER" [selected]="true">
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label>Name</label>
                  <app-dropdown
                    inputName="customerdropdown"
                    [itemSource]="customers"
                    [(valueModel)]="selectedProject.CustomerGuid"
                    displayMember="ClientName"
                    valueMember="Guid"
                    styleClass="form-control"
                    (onChange)="onCustomerChange($event)"
                  ></app-dropdown>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="projectManager">Project Manager</label>
                  <app-dropdown
                  inputName="projectmanagerdropdown"
                    [itemSource]="customerContacts"
                    [(valueModel)]="selectedProject.CustomerProjectManagerGuid"
                    displayMember="FullName"
                    valueMember="Guid"
                    styleClass="form-control"
                  ></p-dropdown>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label>Billing Contact</label>
                  <app-dropdown
                    inputName="billingContactDropdown"
                    [itemSource]="customerContacts"
                    [(valueModel)]="selectedProject.CustomerContactGuid"
                    displayMember="FullName"
                    valueMember="Guid"
                    styleClass="form-control"
                  ></app-dropdown>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <div class="row">
                    <div class="col">
                      <label>Service Reports (?)</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <p-checkbox></p-checkbox>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </p-accordionTab>
          <p-accordionTab header="TEAM" [selected]="true">
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label for="projectManager">Project Manager</label>
                  <app-dropdown
                  inputName="employeeDropdown"
                    [itemSource]="employees"
                    [(valueModel)]="selectedProject.ProjectManagerGuid"
                    displayMember="FullName"
                    valueMember="Guid"
                    styleClass="form-control"
                  ></app-dropdown>
                </div>
              </div>

              <div class="col">
                <div class="form-group">
                  <label>Team Lead</label>
                  <app-dropdown   inputName="teamleadDropdown"
                  [itemSource]="employees"
                  [(valueModel)]="selectedProject.TeamLeadGuid"
                  displayMember="FullName"
                  valueMember="Guid"
                  styleClass="form-control"></app-dropdown>
                </div>
              </div>
            </div>
          </p-accordionTab>
          <p-accordionTab header="FINANCIAL" [selected]="true">
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label>Currency</label>
                  <app-dropdown 
                  inputName="currencyDropdown"
                  [itemSource]="currencies"
                  [(valueModel)]="selectedProject.CurrencyGuid"
                  displayMember="Name"
                  valueMember="Guid"
                  styleClass="form-control"></app-dropdown>
                </div>
              </div>

              <div class="col-1">
                <div class="form-group">
                  <div class="row">
                    <div class="col">
                      <label>Tax 1</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <p-checkbox></p-checkbox>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-3">
                <div class="form-group">
                  <label> </label>

                  <input type="text" class="form-control" />
                </div>
              </div>
              <div class="col-3">
                <div class="form-group">
                  <label> </label>
                  <input type="text" AllowOnlyNumbers class="form-control" />
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label>Default Budget View</label>
                  <app-dropdown inputName="budgetViewDropdown"
                  [itemSource]="budgetViews"
                  [(valueModel)]="selectedProject.DefaultBudgetView"
                  displayMember="Lable"
                  valueMember="Lable"
                  styleClass="form-control"></app-dropdown>
                </div>
              </div>

              <div class="col-sm-1">
                <div class="form-group">
                  <div class="row">
                    <div class="col">
                      <label>Tax 2</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <p-checkbox></p-checkbox>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-3">
                <div class="form-group">
                  <label> </label>

                  <input type="text" class="form-control" />
                </div>
              </div>
              <div class="col-3">
                <div class="form-group">
                  <label> </label>
                  <input type="text" AllowOnlyNumbers class="form-control" />
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-5">
                <div class="form-group">
                  <label>Purchase Order Number</label>
                  <input type="text" name="poinput" [(ngModel)]="selectedProject.PurchaseOrderNumber" AllowOnlyNumbers class="form-control" />
                </div>
              </div>
            </div>
          </p-accordionTab>
          <p-accordionTab header="CRITICAL SUCCESS FACTORS" [selected]="true">
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label>Industry</label>
                  <p-dropdown name="industryDropdown"
                  [options]="industries"
                  [(ngModel)]="selectedIndustry"
                  optionLabel="Name"
                  styleClass="form-control"></p-dropdown>
                </div>
              </div>
              <div class="col">
                <div class="form-group dropdown-treeview-container">
                  <label>Geography</label>
                  <ngx-dropdown-treeview name="geographyTreeDropdown"
                   [config]="config" [items]="geographies" 
                   (selectedChange)="values = $event" 
                   (filterChange)="onFilterChange($event)">
          </ngx-dropdown-treeview>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label>Scope</label>
                  <p-dropdown 
                  name="scopeDropdown"
                  [options]="scopes"
                  [(ngModel)]="selectedScope"
                  optionLabel="Name"
                  styleClass="form-control"></p-dropdown>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label></label>
                </div>
              </div>
            </div>
          </p-accordionTab>
          <p-accordionTab header="PROJECT TAGS" [selected]="true">
            <div class="row">
              <!-- <div class="col">
                <div class="form-group">
                  <input type="text" class="form-control" />

                <button class="btn btn-primary margin-top remove-margin-left">Add Tags</button>
                </div>
              </div> -->
              <div class="col">
                <div class="form-group">
                  <tag-input name="projectTags" [disable]="!isProjectSave"
                    [ngModel]="projectTags" [identifyBy]="'Guid'" [displayBy]="'Tag'"
                    (onAdd)="onItemAdded($event)"
                    (onRemove)="onItemRemoved($event)"></tag-input>
                </div>
              </div>
            </div>
           
          </p-accordionTab>
          <p-accordionTab header="TIMESHEET" [selected]="true">
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label>Overtime (OT) Multiplier</label>
                  <input type="text" AllowOnlyNumbers class="form-control" />
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label>Double Time (DT) Multiplier</label>
                  <input type="text" AllowOnlyNumbers class="form-control" />
                </div>
              </div>
            </div>
          </p-accordionTab>
        </p-accordion>
      </div>
    </div>
    <div class="row">
      <div class="col form-group text-right">
        <button class="btn btn-primary">Delete</button>
      </div>
    </div>
    <!--<div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>-->
  </form>
</div>
