<div class="project-form-wrapper">
  <form (submit)="onFormSubmit()">
    <div class="row">
      <div class="col form-group text-right">
        <button class="btn btn-primary">Cancel</button>
        <button type="button" (click)="onFormSubmit()" class="btn btn-primary">
          Save
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p-accordion [multiple]="true">
          <p-accordionTab header="PROJECT" [selected]="true">
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label for="number">Number</label>
                  <input
                    type="email"
                    class="form-control"
                    AllowOnlyNumbers
                    id="number"
                    aria-describedby="emailHelp"
                    placeholder="Enter number"
                  />
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label>Name</label>
                  <input
                    type="text"
                    class="form-control"
                    id="name"
                    placeholder="Name"
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label>Type</label>
                  <p-dropdown
                  name="projectTypeDropDown"
                    [options]="pts"
                    [(ngModel)]="spts"
                    optionLabel="Code"
                    styleClass="form-control"
                  ></p-dropdown>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="status">Status</label>
                  <p-dropdown
                  name="projectStatusDropDown"
                    [options]="psts"
                    [(ngModel)]="spst"
                    optionLabel="Code"
                    styleClass="form-control"
                  ></p-dropdown>
                </div>
              </div>
            </div>
          </p-accordionTab>
          <p-accordionTab header="CUSTOMER" [selected]="true">
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label>Name</label>
                  <p-dropdown
                    name="customerdropdown"
                    [options]="customers"
                    [(ngModel)]="selectedCustomer"
                    optionLabel="ClientName"
                    styleClass="form-control"
                    (onChange)="onCustomerChange($event)"
                  ></p-dropdown>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="projectManager">Project Manager</label>
                  <p-dropdown  name="projectmanagerdropdown"
                  [options]="customerContacts"
                  [(ngModel)]="selectedCustomerContact"
                  optionLabel="FullName"
                  styleClass="form-control"
                  ></p-dropdown>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label>Billing Contact</label>
                  <p-dropdown  [options]="customerContacts" [(ngModel)]="selectedBillingContact"
                  optionLabel="FullName" styleClass="form-control"></p-dropdown>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <div class="row">
                    <div class="col">
                      <label>Service Reports (?)</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <p-checkbox></p-checkbox>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </p-accordionTab>
          <p-accordionTab header="TEAM" [selected]="true">
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label for="projectManager">Project Manager</label>
                  <p-dropdown [options]="employees"  [(ngModel)]="selectedEmployee"
                  optionLabel="FullName"  styleClass="form-control"></p-dropdown>
                </div>
              </div>

              <div class="col">
                <div class="form-group">
                  <label>Team Lead</label>
                  <p-dropdown styleClass="form-control"></p-dropdown>
                </div>
              </div>
            </div>
          </p-accordionTab>
          <p-accordionTab header="FINANCIAL" [selected]="true">
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label>Currency</label>
                  <p-dropdown styleClass="form-control"></p-dropdown>
                </div>
              </div>

              <div class="col-1">
                <div class="form-group">
                  <div class="row">
                    <div class="col">
                      <label>Tax 1</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <p-checkbox></p-checkbox>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-3">
                <div class="form-group">
                  <label> </label>

                  <input type="text" class="form-control" />
                </div>
              </div>
              <div class="col-3">
                <div class="form-group">
                  <label> </label>
                  <input type="text" AllowOnlyNumbers class="form-control" />
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label>Default Budget View</label>
                  <p-dropdown styleClass="form-control"></p-dropdown>
                </div>
              </div>

              <div class="col-sm-1">
                <div class="form-group">
                  <div class="row">
                    <div class="col">
                      <label>Tax 2</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <p-checkbox></p-checkbox>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-3">
                <div class="form-group">
                  <label> </label>

                  <input type="text" class="form-control" />
                </div>
              </div>
              <div class="col-3">
                <div class="form-group">
                  <label> </label>
                  <input type="text" AllowOnlyNumbers class="form-control" />
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-5">
                <div class="form-group">
                  <label>Purchase Order Number</label>
                  <input type="text" AllowOnlyNumbers class="form-control" />
                </div>
              </div>
            </div>
          </p-accordionTab>
          <p-accordionTab header="CRITICAL SUCCESS FACTORS" [selected]="true">
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label>Industry</label>
                  <p-dropdown styleClass="form-control"></p-dropdown>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label>Geography</label>
                  <p-dropdown styleClass="form-control"></p-dropdown>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label>Scope</label>
                  <p-dropdown styleClass="form-control"></p-dropdown>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label></label>
                </div>
              </div>
            </div>
          </p-accordionTab>
          <p-accordionTab header="PROJECT TAGS" [selected]="true">
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <input type="text" class="form-control" />
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <input type="text" class="form-control" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <button class="btn btn-primary">Add Tags</button>
              </div>
            </div>
          </p-accordionTab>
          <p-accordionTab header="TIMESHEET" [selected]="true">
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label>Overtime (OT) Multiplier</label>
                  <input type="text" AllowOnlyNumbers class="form-control" />
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label>Double Time (DT) Multiplier</label>
                  <input type="text" AllowOnlyNumbers class="form-control" />
                </div>
              </div>
            </div>
          </p-accordionTab>
        </p-accordion>
      </div>
    </div>
    <div class="row">
      <div class="col form-group text-right">
        <button class="btn btn-primary">Delete</button>
      </div>
    </div>
    <!--<div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>-->
  </form>
</div>
