<div class="data-grid-view">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="table">
          <table class="table">
            <thead>
              <tr>
                <ng-container *ngFor="let column of tableHeaderColumns">
                  <th>
                    <span>{{ column.columnHeading }}</span>
                  </th>
                </ng-container>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let rowItem of tableRenderingData">
                <ng-container *ngFor="let column of tableHeaderColumns">
                  <td>
                    {{ rowItem[column.dbColumnName] }}
                  </td>
                </ng-container>
                <td>
                  <div class="btn-group">
                    <ng-container *ngFor="let button of tableActionColumns">
                      <button
                        type="button"
                        class="btn {{ button.styleClass }}"
                        (click)="OnActionButtonClicked($event, button, rowItem)"
                      >
                        <i class="fa {{ button.iconClass }}"></i>
                      </button>
                    </ng-container>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
