<div class="project-expense-wrapper">
  <div class="page-heading">
    <div class="row">
      <div class="col">
        <h3 class="page-header">{{currentProject?.Number}} <span class="project-description">{{currentProject?.Description}}</span></h3>
      </div>
    </div>
  </div>
  <div class="page-body">
    <div class="action-wrapper">
      <button class="btn btn-primary" (click)="toggleRows($event)"><i class="fa" [class.fa-plus-square]="!isAllRowsExpanded" [class.fa-minus-square]="isAllRowsExpanded"></i></button>
      <button class="btn btn-primary float-right"><i class="fa fa-cog"></i></button>
    </div>
    <div class="tree-table-wrapper">
      <p-treeTable [value]="expenseRows">
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of tableColumns">
              {{col.header}}
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
          <tr>
            <td *ngFor="let col of tableColumns; let columnIndex = index">
              <p-treeTableToggler [rowNode]="rowNode" *ngIf="columnIndex == 0"></p-treeTableToggler>
              <span>{{rowData[col.field]}}</span>
            </td>
          </tr>
        </ng-template>
      </p-treeTable>
    </div>
  </div>
</div>
