<div class="employee-wrapper">
  <form (submit)="addEmployee()">
    <div class="from-header">
      <div class="row">
        <div class="col-md-6">
          <h5>Create New Employee</h5>
        </div>
        <div class="col-md-6">
          <div class="text-right">
            <button type="submit" class="btn btn-primary">Save</button>
            <button type="button" class="btn btn-primary">Cancel</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p-accordion [multiple]="true">
          <p-accordionTab header="USER PROFILE" [selected]="true">
            <div class="row">
              <div class="col-md-3">
                <div class="form-group">
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label>First Name </label>
                  <input type="text" name="firstName" [(ngModel)]="newModal.FirstName" class="form-control" />
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label>Last Name </label>
                  <input type="text" name="LastName" [(ngModel)]="newModal.LastName" class="form-control" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <div class="form-group">
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label>Email Address </label>
                  <input type="email" name="email" [(ngModel)]="newModal.EmailAddress" class="form-control" />
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label>Phone Number </label>
                  <input type="text" AllowOnlyNumbers name="LastName" [(ngModel)]="newModal.PhoneNumber"
                    class="form-control" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <div class="form-group">
                  <button type="button" name="addavtarbtn" class="btn btn-primary" ngbTooltip="Add Avtar"><i
                      class="fa fa-plus"></i></button>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label>Role </label>
                  <p-dropdown name="userroleDropdown" [options]="userRoles" [(ngModel)]="selectedUserRole"
                    optionLabel="Name" styleClass="form-control"></p-dropdown>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label>Status </label>
                  <p-dropdown name="statusDropdown" styleClass="form-control" [options]="status"
                    [(ngModel)]="selectedStatus" optionLabel="label"></p-dropdown>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <div class="form-group">
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label>Joining Date </label>
                  <p-calendar icon="pi pi-calendar" showIcon="true" panelStyleClass="form-control">
                  </p-calendar>
                  <!-- <input type="date" id="joiningDate" class="form-control"> -->
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label>End Date </label>
                  <p-calendar icon="pi pi-calendar" showIcon="true" panelStyleClass="form-control"></p-calendar>
                  <!-- <input type="date" id="endDate" class="form-control"> -->
                </div>
              </div>
            </div>
          </p-accordionTab>
        </p-accordion>
        <p-accordion [multiple]="true">
          <p-accordionTab header="DETAILS" [selected]="true">
            <div class="row">
              <div class="col-md-3">
                <div class="form-group ">
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label>Effective Date </label>
                  <p-calendar icon="pi pi-calendar" showIcon="true" panelStyleClass="form-control">
                  </p-calendar>
                </div>
              </div>
              <div class="col">
                <div class="btn-group">
                  <button type="button" name="managebtn" class="btn btn-primary" ngbTooltip="Manage Remuneration"><i
                      class="fa fa-pencil-alt"></i></button>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <div class="form-group">
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label>Hourly Rate </label>
                  <input type="text" AllowOnlyNumbers name="hourlyRate" class="form-control" />
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label>Target %Billable </label>
                  <input type="text" AllowOnlyNumbers name="targetBillable" class="form-control" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <div class="form-group">
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label>License Type </label>
                  <p-dropdown name="licensetypeDropdown" styleClass="form-control" [options]="licensetype"
                    [(ngModel)]="selectedLicenseType" optionLabel="Lable"></p-dropdown>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                </div>
              </div>
            </div>
          </p-accordionTab>
        </p-accordion>
      </div>
    </div>
    <div class="from-footer">
      <div class="row">
        <div class="col">
          <div class="text-right">
            <button type="button" name="deletebtn" class="btn btn-primary">Delete Employee</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
